.header {
    border-radius: 25px;
    .hamburger_menu_wrapper{
        display: none;
    }
    .last_li{
        display: none;
    }
    .header_block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $white;
        padding: 16px 56px;
        border-radius: 25px;
    }
    .header_logo{
        img{
            width: 173px;
        }
    }
    .header_menus {
        display: flex;
        gap: 32px;
        .close{
            display: none;
        }
        li {
            a {
                color: $black;
                opacity: .8;
                font-family: "Inter";
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.36px;
                transition: all .3s ease;
                &:hover{
                    color: $dark_grey;
                    
                }
            }
        }
    }
    .header_right{
        gap: 16px;
        .language_selectors{
            border: none;
            outline: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url('../img/select_arrow.svg');
            background-repeat: no-repeat;
            background-position: right 4px center;
            background-size: 10px; 
            box-shadow: none;
            padding-right: 4px;

            color: $black;
            font-family: "Inter";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.36px;
        }
        option{
            width: 50px !important;
            background-color: #f0f0f0;
            color: #333; 
            padding: 10px 20px;
        }
    }
}